html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.swiper {
    width: 100vw;
    height: 100vh;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background: #f0f0f0;
}