body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start !important; /* Alinea el contenido al inicio */
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Fuente base */
    color: #333; /* Color de texto */
    min-height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la ventana */
}

.main-container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important; /* Centra el contenido verticalmente */
    width: 90%; /* Ajusta el ancho del contenedor */
    max-width: 1200px; /* Ancho máximo */
    margin: auto; /* Centra el contenedor horizontal y verticalmente */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para resaltar */
    border-radius: 10px; /* Bordes redondeados */
    min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
    margin-top: -100px; /* Subir el contenido hacia arriba */
}

h1 {
    margin-top: 150px!important; /* Espacio superior para separar del borde */
    font-size: 2.5rem; /* Tamaño del título */
    margin-bottom: 20px; /* Espacio debajo del título */
    text-align: center; /* Asegura que el título esté centrado */
    margin-top: 20px !important; /* Espacio superior para separar del borde */
}

p {
    margin-top: 20px !important; /* Espacio entre el título y el párrafo */
    margin-bottom: 40px;
    text-align: center; /* Centra el texto */
}

.imagenes-habilidades {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px !important; /* Espacio entre el párrafo y las imágenes */
}

.imagenes-habilidades figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px; /* Ajusta el ancho según sea necesario */
}

.imagenes-habilidades img {
    width: clamp(10px, 20%, 300px); /* Ajusta el tamaño según el ancho del dispositivo */
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición para efectos */
}

@media (max-width: 768px) {
    .imagenes-habilidades {
        justify-content: center;
        grid-template-columns: repeat(3, 1fr); /* 2 columnas */
        display: grid; /* Cambia a grid layout */
        gap: 20px; /* Espaciado entre columnas */
    }
}

.imagenes-habilidades p {
    font-size: clamp(0.8rem, 2.5vw, 1rem);
    text-align: center;
    margin-top: 10px;
    line-height: 1.5;
}

.imagenes-habilidades figure:hover img {
    transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}